body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

div{
  margin: 12px;
}
.header{
 display: flex;
 justify-content: center;
}

.preview{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}